:root{
    --totalimages: 4;
}

/* body */
body{

    margin: 0%; 
    border: 0%;
}

/* Top Nav Section */
.topnav{
    /* Make this the anchor for the position: fixed video so it moves with scroll as well */
    transform: translate(0px);
}
.topnav nav{
    display: inline-block;
    min-width: 100%;;

}

.topnav ul{

    list-style-type: none;

    text-align: center;

    margin-top: .5%;
    margin-bottom: 0%;
    padding: 0px;
    
}

.topnav li{
    display: inline-block;
    position: relative;
}

.topnav a{

    font-family: Arial, sans-serif;
    font-size: 25px;
    

    padding: 10px;
    

    cursor: pointer;

    position: relative;

    text-decoration: none;
    color: white;
    float: left;

    z-index: 1;

}
/* Nav Video */

.navvideo{
    z-index: -1;

    max-height: 15%;
    min-width: 100%;
    max-width: 100%;
    position: fixed;
    object-fit: cover;
}

/* Main Content*/
.container{
    text-align: center;
    margin-top: 1%;
}


/* Slide Show*/
.slideshow{
    display: inline-block;
    text-align: center;

    transform: translate(0);
    overflow: hidden;
    width: 250px;
    height: 250px;
}

.slideshow img{
    animation: slide 4s infinite;
    position: fixed;
    display:block;
    top: 0;
    left: 0;
    z-index: -1;
}
.profilepic{
    margin-top: 5%;
    width: 250px;
    height: 250px;
}
.first img{
    filter: brightness(25%);
    --direction: translate(-100000px, 0px);
    animation-delay: 0s;
}
.second img{
    filter: brightness(50%);
    --direction: translate(0px, -100000px);
    animation-delay: 1s;
}
.third img{
    filter: brightness(75%);
    --direction: translate(100000px, 0px);
    animation-delay: 2s;
}
.fourth img{
    filter: brightness(100%);
    --direction: translate(0px, 100000px);
    animation-delay: 3s;
}


/* Media Queries */
@media (max-width: 500px){
    .topnav a{
        font-size: 5vw;
    }
}



/* Animation*/

@keyframes slide{
    0%{
        transform: var(--direction);
        z-index: var(--totalimages);
    }
    50%{
        transform: translate(0px, 0px);
        z-index: 1;
    }
}

